<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    {{{body}}}
    <script>"/javascripts/bundle.js"</script>
  </body>
</html>
