body{
    padding: 50px;
    font: "Lucida Grande", Helvetied, sans-serif;}
    a{

    color: blue;
    }

    h1{

    
   
        color: teal;

    }
    

body{
    padding: 50px;
    font: "Lucida Grande", Helvetied, sans-serif;}
    a{

    color:purple;
    }

    h1{

    
   
        color: teal;

    }
    
